body {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(rgb(206, 148, 101), rgb(202, 154, 64));
}


#restaurant-container,
#map-container {
  display: inline-block;
  max-width: 40%;
  padding: 20px;
}

.inside #map-container {
  height: 500px;
  top: 150px;
}

.inside header {
  max-width: 900px;
}
