body {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(rgb(206, 148, 101), rgb(202, 154, 64));
}


#restaurant-container,
#map-container {
  position: relative;
  bottom: 15px;
  display: inline-block;
  max-width: 40%;
  padding: 20px;
}

.inside #reviews-container {
  position: relative;
  top: 10px;
}

#restaurant-container > h2 {
  position: relative;
  top: 25px;
}

.inside #map-container {
  height: 800px;
  top: 190px;
}

.inside header {
  max-width: 900px;
}

body #map-container-first-page {
  width: 100%;
  /* position: relative; */
}
